* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figcaption {
    font-style: italic;
    display: none;
}

p, .paragraph ul {
    line-height: 1.5em;
    margin-top: 1.5em;
}

.paragraph h3 {
    margin-bottom: 1.6em;
}

.italic {
    font-style: italic;
}

/* .checkmark li {
    list-style-type: none;
} */

.checkmark li::marker {
    content: "✓ ";
    font-size: 1em;
}

/* Links */

#email {
    text-transform: none;
    text-decoration: underline;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav a {
    background-color: white;
    padding: 5px 20px;
}


a:visited {
    text-decoration: none;
    color: gray;
}

#email:visited {
    color: blue;
}

a:hover {
    border-top: 3px solid black;
    cursor: pointer;
}

#email:hover {
    border-top: none;
}

#nav2:hover {
    border: none;
}

a:active {
    color: darkgray;
    border-top: 2px solid gray;
}

.contentlinks {
    text-transform: none;
}

.h2links {
    text-transform: none;
}

/* Images */

img:hover {
    box-shadow: 4px 4px;
}

/* Separators */

.separator {
    display: none;
}

/* Headings */

h1 {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    border-bottom: 3px solid black;
    border-radius: 1px;
    padding: 5px 0;
}

.contentlinks h3 {
    width: 100%;
}

/* Header */

header {
    height: 500px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    width: 70%;
    margin: auto;
    padding: 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    font-size: 16px;
}

#myportfolio {
    text-align: center;
    letter-spacing: 0.2em;
    margin: 20px 0 150px;
    border: none;
    font-family: 'Shadows Into Light', cursive;
}

/* Main */

main {
    margin: 80px 5% 30px;
}

/* Section */

section {
    margin-top: 60px;
}

/* Articles General */

.h2span {
    display: none;
}

.h3span {
    float: right;
    font-size: small;
    vertical-align: baseline;
}

.bio, .photos, .videos, .print {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Bio Article */

/* #bioarticle {
    align-items:flex-start;
} */

/* .bio > * {
    flex: 1;
} */

.bio img:hover {
    box-shadow: none;
}

/* Photos Article */

.bio > *, .photos > *, .print > *, .vidcontainer {
    flex: 1;
}

.bio figure img, .photos figure img, .print figure img, .vidcontainer iframe {
    width: 100%;
}

/* .photoheading {
    width: 25%;
} */

.photoheading2 {
    margin-top: 50px;
    margin-bottom: 10px;
    border-top: 3px solid black;
}

.photos_main {
    align-items: flex-start;
    flex-wrap: wrap;
}

.photos_main .photos_child {
    flex: 1 0 30%;
}

/* Videos Article */

.vidcontainer iframe {
    height: calc(100vh - 350px);
}

/* Print Article */

.print_main {
    align-items: flex-start;
    flex-wrap: wrap;
}

.print_main .print_child {
    flex: 1 0 30%;
}


@media (max-width: 900px) {
    /* Header */
    
    nav ul {
        flex-direction: column;
        text-align: center;
        width: 90%;
    }

    nav ul li {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        /* background-color: lemonchiffon; */
    }

    /* Headings */

    h1 {
        margin-top: 20px;
    }

    /* h2 {
        border-bottom: 3px solid black;
        border-radius: 1px;
    } */

    h3 {
        margin-top: 30px;
        text-align: center;
        background-color: white;
        /* border-top: 2px solid black; */
    }

    .photoheading2 {
        width: 100%;
        padding: 10px;
        /* border-top: 3px solid black; */
    }

    /* .separator {
        display: block;
        width: 100%;
        height: 4px;
        border: 4px solid black;
        border-radius: 4px;
        margin-top: 20px;
    } */

    /* .contentlinks {
        display: block;
    } */

    .contentlinks:hover {
        border-top: none;
    }

    /* Spans */

    .h3span {
        display: none;
    }

    .h2span {
        display: inline;
        font-size: small;
        vertical-align: middle;
    }

    /* Articles General */

    .photos, .videos, .print {
        flex-direction: column;
    }

    /* Bio Article */

    .bio {
        flex-direction: column;
    }

    .bio > * {
        /* width: 100%; */
        flex: 1;
    }

    /* Photos, Print, & Videos Articles */

    .photos figure, .print figure, .vidcontainer {
        width: 100%;
    }

}


footer {
    width: 100%;
    height: 15vh;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer p {
    text-align: center;
    font-size: small;
    margin: auto;
}

#footer {
    padding-top: 25px;
}
